<!DOCTYPE html>
<html>
<head><title>Machine Learning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <title>ML Trainer</title>
</head>
<body>


<!--Page Starts-->

<nav class="navbar navbar-default navbar-fixed-top">
    
        <img src="static/image/picd.jpeg" class="img-responsive" style="height:500px;width:500px;margin-top:20px"margin-top:10px;">
        
            
           <a href="/" style="color: red"  margin-right: 50px;>Home</a>
           
      </div>
      
      </div>
  
</nav>


       
      <div class="" style="background-color:green;" >
          <div class="clearfix">
           
            <div class="col-md-12">
                   <center><p style="font-size:25px;color:white;margin-top:10px;"></p></center> 
            </div>
         </div>
      </div>
<div class="container-fluid">
      <div class="row">
         <div class="col-md-2">
           
         </div>
         <div class="col-md-10">
           <h1>About Us</h1>
         </div>
      </div>
      <div class="row">
           <div class="col-md-2">

           </div>
           <div class="col-md-8">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
                 <li data-target="#myCarousel" data-slide-to="3"></li>
               </ol>

             <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                

                <div class="item">
                 
                </div>
                  
                


    <p class="col-4">Mini project of Summer internship</p>

    <table class="col-3" >
        <tr>
            <th>
                <li>
                    <div class="col-1"><a href="https://project7-churn.herokuapp.com/"class="col-2">Churn_Modelling Project</a>
                    </div>
                </li>
                <li>
                    <div class="col-1"><a href="https://mall-project-7.herokuapp.com/"class="col-2">Customer segmentation</a>
                    </div>
                </li>
                <li>
                    <div class="col-1"><a href="https://internship-project-6.herokuapp.com/"class="col-2">Placement Predicton</a>
                    </div>
                </li>
                <li>
                    <div class="col-1"><a href="https://internship-project-5.herokuapp.com/predict?text=good+one"class="col-2">review</a>
                    </div>
                </li>
            </th>
            <th>
                <li>
                    <div class="col-1"><a href="https://project-survivors-4.herokuapp.com/"class="col-2">Survivor prediction</a>
                    </div>
                </li>
                <li>
                    <div class="col-1">
                        <a href="https://house-project2.herokuapp.com/"class="col-2">Regression Analysis to predict price</a>
                    </div>
                </li>
                <li>
                    <div class="col-1"><a href="https://piet-internship-linearregress.herokuapp.com/"class="col-2">predict salary</a>
                    </div>
                </li>
                <li>
                    <div class="col-1"><a href="https://kritikatiwari-svm-app-gx07tt.streamlitapp.com/"class="col-2">Item Purchase Prediction by svm</a>
                    </div>
                  <div class="col-1"><a href="">
                        </a>
                    </div>
                </li>
            </th>
        </tr>
    </table>

<div>
    <div class="col-foot-12">
        <hr>
        <center>
            <h3 class="section-title" style="text-align: center; font-size: 40px;">Sponsored by</h3>
        </center>
        <div class="col-foot-img">
            <table class="col-foot-img">
                <tr>
                    <th> <img style="max-height:80px;" src="{{ url_for('static',filename = 'image/AICTEIdeaLabFooterLogo.png')  }}"></th>
                    <th> <img style="max-height:80px;" src="{{ url_for('static',filename = 'image/nbanew.png')  }}"></th>
                </tr>
            </table>

        </div>
        <br><br><br><br><br>
        <div class="fixed-bottom ">
            <div class="" style="min-height: 40px;">
                <div style="background-color: rgb(254, 119, 1);">
                    <marquee style="color:rgb(251, 250, 250); margin-top: 7px;">
                        <h9>Department of Computer Engineering, PIET</h9>
                    </marquee>
                </div>
            </div>
        </div>
    </div>



</body>

</html>
